@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser>  manager

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - ZamkDb</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />
</head>
<body >
	<header >
		<nav class="navbar navbar-expand-sm  navbar-dark bg-dark border-bottom box-shadow mb-3" >
			<div class="container" >
				<a class="navbar-brand" asp-area="" asp-page="/Index">ZamkDb</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" >
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
							<a class="nav-link text-light" asp-area="" asp-page="/Index" >Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light" asp-area="" asp-page="/Privacy">Privacy</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-light" asp-area="" asp-page="/Courses/GetAllCourses">Courses</a>
						</li>
                        @*<li class="nav-item dropdown">
                            <a class="nav-link dropdown" href="#" id="navbarDropdownMenuLink"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Courses</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" asp-page="/Courses/GetAllCourses">Others Courses</a>
                                <a class="dropdown-item" asp-page="/Courses/MyCourses">My Courses</a>
                            </div>
                        </li>*@
                        <li class="nav-item">
							<a class="nav-link text-light" asp-area="" asp-page="/Bookings/GetAllBookings">Bookings</a>
						</li>

						<ul class="navbar-nav ml-auto">
							@if (manager.IsSignedIn(User))
							{
								<li class="nav-item">
									<form class="form-inline" asp-page="/Account/LogOut"
										  method="post">
										<button type="submit" class="nav-link btn btn-link text-light">Hello @User.Identity.Name  Logout</button>
									</form>
								</li>
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
									   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Manage
									</a>
									<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" asp-page="/Account/GetAllUsers">Your Account</a>
										<a class="dropdown-item" asp-page="/Courses/MyCourses">My Courses</a>
									</div>
								</li>
							}
							else
							{
								<li class="nav-item">
									<a class="nav-link text-light" asp-area="" asp-page="/Account/Register">Register</a>
								</li>
								<li class="nav-item">
									<a class="nav-link text-light" asp-area="" asp-page="/Account/Login">Login</a>
								</li>
							}
						</ul>
					</ul>
					</div>
				</div>
			</nav>
		</header>
		<div class="container" >
			<main role="main" class="pb-3">
				@RenderBody()
			</main>
		</div>

		<footer class="border-top footer text-white navbar-dark bg-dark border-bottom box-shadow">
			<div class="container">
				&copy; 2021 - ZamkDb - <a asp-area="" asp-page="/Privacy">Privacy</a>
			</div>
		</footer>

		<script src="~/lib/jquery/dist/jquery.min.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
		<script src="~/js/site.js" asp-append-version="true"></script>

		@RenderSection("Scripts", required: false)
	</body>
</html>
