@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<html>
<body style="background-color: rgba(244, 217, 107, 255);">
</body>
</html>


<div class="text-center">
    <img src="img/zealandlogo.png" />
    @*<h1 class="display-4">Welcome</h1>*@
    <h2>How the app works</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas suscipit non dui non tempus. Maecenas at congue augue, sed pulvinar libero. Quisque sed sodales nibh. Morbi nulla lacus, consectetur vitae dui vel, rhoncus dapibus sapien. Vivamus dignissim tortor id ultricies aliquet. Quisque dapibus pellentesque neque. Curabitur vitae vestibulum ligula. Nullam vulputate tempor gravida. Integer aliquet arcu eget velit cursus posuere. Maecenas tincidunt lacus condimentum turpis vulputate, id congue dui elementum.
    </p>
    <h2>News</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas suscipit non dui non tempus. Maecenas at congue augue, sed pulvinar libero. Quisque sed sodales nibh. Morbi nulla lacus, consectetur vitae dui vel, rhoncus dapibus sapien. Vivamus dignissim tortor id ultricies aliquet. Quisque dapibus pellentesque neque. Curabitur vitae vestibulum ligula. Nullam vulputate tempor gravida. Integer aliquet arcu eget velit cursus posuere. Maecenas tincidunt lacus condimentum turpis vulputate, id congue dui elementum.
    </p>
</div>



