@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<html>
<body style="background-color: rgba(244, 217, 107, 255);">
</body>
</html>

<h1>@ViewData["Title"]</h1>

<html>
<body style="background-color: rgba(244, 217, 107, 255);">
</body>
</html>

<h3>Privatlivspolitik for Zamkørsel.</h3>

<p>Velkommen til Zamkørsel.dk.</p>

<p>
    Når du besøger en hjemmeside, vil der som regel blive indsamlet nogle oplysninger om dig, som kan bruges til at forbedre
    indholdet på siden. Det gælder også vores side. F.eks. er det interessant for os at følge med i, hvilke sider på hjemmesiden,
    der får mest trafik, fordi det fortæller os noget om, hvilke emner vores brugere er mest interesserede i.
</p>

<p>
    Nedenfor fortæller vi lidt mere om, hvilke oplysninger der indsamles her på siden, og hvad de bruges til.
    Hvis du ikke ønsker, at der indsamles oplysninger, bør du slette dine cookies (Se vejledning) og undlade videre brug af hjemmesiden.
</p>

<h3>Vedr. Cookies</h3>

<p>
    Zamkørsel.dk anvender de såkaldte "cookies", der er en tekstfil, som på din computer, mobil el. tilsvarende med det formål at genkende den,
    huske indstillinger, udføre statistik og evt. målrette annoncer. Cookies kan ikke indholde skadelig kode som. f.eks. virus.
</p>

<p>Det er muligt at slette eller blokere for cookies. Se vejledning her: http://minecookies.org/cookiehandtering </p>


<p>
    Hvis du sletter eller blokerer cookies, vil annoncer kunne mindre relevante for dig og optræde hyppigere. Du kan desuden risikere, at websitet ikke fungerer
    optimalt samt at der er indhold, du ikke kan få adgang til.
</p>

<p>Websitet indeholder cookies fra enkelte tredjeparter, bl.a. Google Analytics og Facebook.</p>


<h3>Vedr. personoplysninger</h3>

<h3>Generelt</h3>


<p>Personoplysninger er alle slags informationer, der i et eller andet omfang kan henføres til dig.</p>

<p>
    Her på hjemmesiden er det typisk følgende typer af oplysninger, der bliver indsamlet og behandlet: Et unikt ID
    Og tekniske oplysninger om din computer, tablet eller mobiltelefon, dit IP-nummer, geografisk placering, samt hvilke sider du klikker på (interesser).
    I det omfang du selv giver eksplicit samtykke hertil og selv indtaster informationenerne behandles desuden: Navn, telefonnummer, e-mail, adresse og betalingsoplysninger.
    Det vil typisk være i forbindelse med oprettelse af login, tilmelding til nyhedsbrev eller ved køb.
</p>

<h3>Sikkerhed</h3>
<p>
    Zamkørsel har selvfølgelig truffet både tekniske og organisatoriske foranstaltninger mod, at dine oplysninger hændeligt
    eller ulovligt bliver slettet, offentliggjort, fortabt, forringer eller kommer til uvedkommende kendskab, misbruges eller i øvrigt behandles i strid mod lovgivningen.
</p>

<h3>Formål</h3>
<p>
    Oplysningerne bruges til at identificere dig som bruger og vise dig de annoncer, som vil have størst sandsynlighed for at være relvente for dig,
    at registerere dine køb og betalinger, samt at kunne levere de services, du har efterspurgt, som f.eks. at fremsende et nyhedsbrev. Herudover anvender
    vi oplysningerne til at optimere vores services og indhold.
</p>

<h3>Periode og opbevaring</h3>
<p>
    Oplysningerne opbevares i det tidsrum, der er tilladt i henhold til lovgivningen, og at vi sletter dem, når de ikke længere er nødvendige.
    Perioden afhænger af karakteren af oplysningen og baggrunden for opbevaring. Det er derfor ikke muligt at angive en generel tidsramme for, hvornår informationerne slettes.
</p>

<h3>Videregivelse af oplysninger</h3>
<p>
    Data om din brug af websitet, hvilke annoncer, du modtager og evt. klikker på, geografisk placering, køn og alderssegment m.v. videregives til tredjeparter i det omfang disse oplysninger er kendt.
    Vi benytter herudover en række tredjeparter til opbevaring og behandling af data. Disse behandler udelukkende oplysninger på mine vegne og må ikke
    anvende dem til egne formål. Videregivelse af personoplysninger som navn og e-mail m.v. vil kun ske, hvis du giver samtykke til det. Vi anvender kun databehandlere,
    der kan give dine oplysninger en tilstrækkelig besktyttelse.
</p>


<h3>Indsigt og klager</h3>
<p>
    Du har ret til at få oplyst, hvilke personoplysninger, vi behandler om dig. Du kan desuden til enhver tid gøre indsigelse mod, at oplysningerne anvendes.
    Du kan også tilbagekalde dit samtykke til, at der bliver behandlet oplysninger om dig. Hvis de oplysninger, der behandles om dig, er forkrerte har du ret til at de bliver rettet eller slettet.
    Henvendelse herom kan ske til info@fjordstjernen.dk. Hvis du vil klage over vores behandling af dine personoplysninger, hardu også mulighed for at tage kontakt til Datatilsynet.
</p>

